<div>
    <h1>{{.CollectionName}}</h1>
    {{range .Requests}}
    <div>
        <h3>{{.Name}}</h3>
        
        <div>
            <span>Method:</span>
            <span>{{.Method}}</span>
        </div>
        
        <div>
            <span>URL:</span>
            <code>{{.URL}}</code>
        </div>
        
        {{if .Headers}}
        <div>
            <span>Headers:</span>
            <pre>{{range .Headers}}{{.Key}}: {{.Value}}
{{end}}</pre>
        </div>
        {{end}}
        
        {{if .BodyFields}}
        <div>
            <span>Request Body Fields:</span>
            <table>
                <thead>
                    <tr>
                        <th style="width: 5%;">No.</th>
                        <th style="width: 20%;">Field</th>
                        <th style="width: 15%;">Type</th>
                        <th style="width: 10%;">Mandatory</th>
                        <th style="width: 50%;">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{range .BodyFields}}
                    <tr>
                        <td style="text-align: center;">{{.Number}}</td>
                        <td><strong>{{.Field}}</strong></td>
                        <td><span>{{.Type}}</span></td>
                        <td style="text-align: center;">
                            {{if eq .Mandatory "Yes"}}
                            <span>{{.Mandatory}}</span>
                            {{else}}
                            <span>{{.Mandatory}}</span>
                            {{end}}
                        </td>
                        <td>{{.Description}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        {{else if .Body}}
        <div>
            <span>Body ({{.BodyMode}}):</span>
            <pre>{{.Body}}</pre>
        </div>
        {{end}}
    </div>
    {{end}}
</div>
